@import "vars.css";
@import "../../node_modules/overlayscrollbars/styles/overlayscrollbars.css";

* {
    box-sizing: border-box;
    transition-timing-function: cubic-bezier(0.45, 0, 0.15, 1);
    transition-duration: 250ms;
    transition-property: background-color, color;
}

body {
    max-width: none;
    max-height: none;
    overflow: hidden;
    background-color: var(--t42-background);
    color: var(--t42-body-color);
}

input {
    font-family: var(--t42-font-family);
    font-size: var(--t42-font-size);
}

#t42-group-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    background-color: transparent;
    border-width: 0;
    /* DONT TOUCH THIS */
}

#t42-frames-container {
    display: flex;
    flex-grow: 1;
    position: relative;
    height: 100%;
    background-color: transparent;
}

.t42-caption-bar {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}

.t42-internal-caption-bar {
    flex-direction: row;
}

.t42-react-caption-bar {
    display: flex;
    flex-grow: 1;
}

.t42-caption-bar:after {
    width: 100%;
    display: block;
    background-color: var(--t42-caption-separator-color);
    content: "";
    position: absolute;
    z-index: 1;
}

.t42-caption {
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    text-align: left;
    user-select: none;
    font-size: var(--io-font-size);
}

.t42-caption-editor {
    display: inline-block;
    color: var(--t42-caption-editor-color);
    margin: var(--t42-caption-editor-margin);
    border: var(--spacing-1) solid hsl(var(--io-interactive-primary));
    border-radius: var(--border-radius-4);
    outline: none;
    min-width: 150px;
    padding: 0 var(--spacing-2) 0 var(--spacing-2);
    white-space: nowrap;
    overflow-x: hidden;
}

.t42-caption-editor.t42-group-caption-bar-element,
.t42-caption-editor.t42-frame-caption-bar-element {
    margin: var(--t42-title-margin);
}

.t42-title {
    color: var(--t42-title-color);
    margin: var(--t42-title-margin);
}

.t42-move-area {
    align-items: center;
    display: flex;
    flex-grow: 1;
    min-width: var(--t42-move-area-min-width);
}

.t42-buttons-container {
    display: flex;
    flex-direction: row;
}

.t42-html-buttons-container {
    display: flex;
    position: absolute;
    right: var(--spacing-4);
    top: var(--spacing-4);
    background-color: var(--t42-html-buttons-bar-background);
}

.t42-html-buttons-container ul:first-of-type {
    padding-left: var(--spacing-4);
}

.t42-html-buttons-bar-element {
    background-color: var(--t42-html-buttons-bar-background); 
}

.t42-buttons {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.t42-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.t42-standard-button {
    position: relative;
}

.t42-custom-button {
    height: var(--t42-custom-button-size);
    width: var(--t42-custom-button-size);
    background-size: cover;
    position: relative;
}

.t42-standard-button::before,
.t42-tab-channel-selector-content::before,
.t42-frame-channel-selector-content::before,
.t42-tab-close-button-content::before {
    align-items: center;
    display: flex;
    font-family: "io-icons";
    font-size: var(--spacing-16);
    justify-content: center;
    content: "";
}

.t42-standard-button-image {
    fill: var(--t42-standard-button-color);
}

.t42-caption-bar-button-lock,
.t42-caption-bar-button-unlock,
.t42-caption-bar-button-feedback,
.t42-caption-bar-button-sticky,
.t42-caption-bar-button-extract {
    margin: var(--spacing-2) var(--spacing-2) 0 0;
    border-radius: var(--border-radius-4);
}

.t42-caption-bar-button-lock .t42-standard-button::before,
.t42-caption-bar-button-unlock .t42-standard-button::before,
.t42-caption-bar-button-feedback .t42-standard-button::before {
    font-size: var(--spacing-14);
}

.t42-caption-bar-button:hover .t42-standard-button-close:before {
    color: var(--t42-caption-bar-button-close-hover-text);
}

.t42-standard-button-minimize::before {
    content: "\e904";
}

.t42-standard-button-maximize::before {
    content: "\e906";
}

.t42-standard-button-close::before {
    content: "\e908";
}

.t42-tab-close-button-content::before {
    content: "\e916";
}

.t42-tab-close-button-content::before {
    height: var(--t42-tab-bar-tab-close-button-size);
    width: var(--t42-tab-bar-tab-close-button-size);
}

.t42-standard-button-restore::before {
    content: "\e912";
}

.t42-standard-button-extract::before {
    content: "\e924";
}

.t42-standard-button-lock::before {
    content: "\e90f";
}

.t42-standard-button-unlock::before {
    content: "\e901";
}

.t42-standard-button-feedback::before {
    content: "\e91c";
}

.t42-standard-button-clone::before {
    content: "\e91f";
}

.t42-standard-button-overflow::before {
    content: "\e91d";
}

.t42-standard-button-sticky::before {
    content: var(--sticky-icon-off);
    display: block;
    height: var(--spacing-14);
    width: var(--spacing-14);
    line-height: var(--spacing-14);
}

.t42-caption-bar-button:hover .t42-standard-button-sticky::before {
    content: var(--sticky-icon-off-hover);
}

.t42-caption-bar-button.active .t42-standard-button-sticky::before {
    content: var(--sticky-icon-on);
    height: var(--spacing-16);
    width: var(--spacing-16);
    line-height: var(--spacing-16);
}

.t42-caption-bar-button.active:hover .t42-standard-button-sticky::before {
    content: var(--sticky-icon-on-hover);
}

.t42-tab-channel-selector-content::before,
.t42-frame-channel-selector-content::before {
    content: "\e902";
    font-size: var(--spacing-16);
}

.t42-group-caption-bar {
    height: auto;
}

.t42-group-caption-bar-element {
    background-color: var(--t42-group-caption-background);
}

.t42-group-caption-bar::after {
    bottom: 0;
    height: var(--t42-group-caption-separator-size);
}

.t42-group-caption-bar-button {
    width: var(--t42-group-caption-height);
    height: var(--t42-group-caption-height);
}

.t42-frame {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    border-style: solid;
    border-color: var(--t42-frame-border-color);
    border-width: var(--t42-frame-border-size);
}

.t42-frame-html {
    /* Don't touch this! We don't have borders for 'html' mode frames */
    border-width: 0px;
}

.t42-focused-frame {
    border-color: var(--t42-focused-frame-border-color);
}

.t42-frame-caption-bar {
    height: auto;
}

.t42-frame-caption-bar::after {
    bottom: 0;
    height: var(--t42-frame-caption-separator-size);
}

.t42-frame-caption-bar-element {
    background-color: var(--t42-frame-caption-background);
}

.t42-frame-channel-selector {
    align-self: center;
    border-radius: var(--t42-frame-channel-selector-border-radius);
    width: var(--t42-frame-channel-selector-size);
    height: var(--t42-frame-channel-selector-size);
    margin: var(--t42-frame-channel-selector-margin);
    justify-content: center;
}

.t42-frame-channel-selector-content {
    width: var(--t42-frame-channel-selector-size);
    height: var(--t42-frame-channel-selector-size);
}

.t42-frame-channel-selector-content .t42-standard-button-image {
    fill: var(--t42-channels-fill-color);
}

.t42-frame-caption-bar-button {
    width: var(--t42-frame-caption-height);
    height: var(--t42-frame-caption-height);
}

.t42-frame-window-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.t42-frame-window {
    display: flex;
    flex-grow: 1;
    background-color: var(--t42-background);
}

.t42-frame-window-header {
    display: flex;
    flex-grow: 0;
    background-color: var(--t42-background);
}

.t42-frame-window-footer {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    background-color: var(--t42-background);
}

.t42-tab-bar {
    display: flex;
    flex-direction: column;
    position: relative;
}

.t42-tab-bar::after {
    display: block;
    content: "";
    position: absolute;
    z-index: 1;
    background-color: var(--t42-caption-separator-color);
    bottom: 0;
    height: var(--t42-tab-bar-separator-size);
    width: 100%;
}

.t42-tab-bar-header {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    height: var(--t42-tab-bar-height);
}

.t42-tab-bar-element {
    background-color: var(--t42-tab-bar-background);
}

.t42-tab-bar-button {
    width: var(--t42-tab-bar-button-size);
    height: var(--t42-tab-bar-button-size);
}


.t42-caption-bar-button {
    position: relative;
    background-color: var(--t42-caption-bar-button-background);
    color: var(--t42-standard-button-color);
}

.t42-caption-bar-button:hover {
    background-color: var(--t42-caption-bar-button-hover-background);
}

.t42-caption-bar-button-close:hover {
    background-color: var(--t42-caption-bar-button-close-hover-background);
}

.t42-caption-bar-button-maximize,
.t42-caption-bar-button-minimize,
.t42-caption-bar-button-restore,
.t42-caption-bar-button-clone,
.t42-caption-bar-button-close {
    width: var(--t42-caption-bar-button-width);
    height: var(--t42-tab-bar-height);
}

.t42-tabs {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    list-style-type: none;
    position: relative;
    padding: 0px;
    margin: 0px;
    border-top-right-radius: var(--border-radius-4);
    -webkit-app-region: drag;
}

.t42-react-tab {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.t42-tab {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    position: relative;
    padding: 0px var(--spacing-8);
    margin-right: var(--spacing-2);
    margin-top: var(--spacing-4);
    width: 150px;
    min-width: var(--t42-tab-bar-tab-min-width);
    max-width: var(--t42-tab-bar-tab-width);
    background-color: var(--t42-tab-bar-tab-background);
    border-top-right-radius: var(--spacing-4);
    border-top-left-radius: var(--spacing-4);
    transition-property: padding;
    container-type: size;
    -webkit-app-region: no-drag;
}

.t42-tab::before {
    width: var(--t42-tab-bar-tab-separator-size);
    height: var(--spacing-8);
    position: absolute;
    left: calc(var(--spacing-2) * -1);
    display: block;
    transition: 0.3s;
    background-color: var(--t42-tab-bar-tab-separator-color);
    content: "";
    z-index: 10;
    opacity: 1;
    transition-property: opacity;
}

.t42-tab:first-of-type::before {
    content: none;
}

/* .t42-tab:hover::before {
    width: calc(100% - var(--t42-tab-bar-tab-separator-size));
    height: var(--t42-tab-bar-tab-hover-separator-size);
    left: 0;
} */

.t42-tab:hover .t42-tab-caption {
    color: var(--t42-caption-text-hover-color);
}

.t42-tab-channel-selector {
    justify-content: center;
    width: var(--t42-tab-bar-tab-channels-size);
    height: var(--t42-tab-bar-tab-channels-size);
    margin: var(--t42-tab-bar-tab-channels-margin);
    border-radius: var(--t42-tab-bar-tab-channels-border-radius);
    background-color: transparent;
    transition-property: width, marign;
}

.t42-tab-caption {
    flex-grow: 1;
    color: var(--t42-tab-bar-tab-text);
    -webkit-mask-image: linear-gradient(90deg, Hsl(var(--io-bg-00)) 75%, transparent);
}

.t42-tab-caption-editor {
    min-width: unset;
    -webkit-mask-image: none;
}

.t42-tab-close-button {
    margin: var(--t42-tab-bar-tab-close-button-margin);
    transition-property: margin;
}

.t42-tab-close-button-content {
    display: flex;
    width: calc(var(--t42-tab-bar-tab-close-button-size) + var(--t42-tab-bar-tab-close-button-padding) * 2);
    height: calc(var(--t42-tab-bar-tab-close-button-size) + var(--t42-tab-bar-tab-close-button-padding) * 2);
    border-radius: 50%;
    background-color: transparent;
    transition-property: background-color, fill;
    justify-content: center;
    align-items: center;
    font-size: var(--spacing-14);
}

.t42-tab-close-button-content svg {
    padding: var(--t42-tab-bar-tab-close-button-padding);
    transition-property: fill;
}

.t42-tab-close-button-content .t42-standard-button-image {
    fill: var(--t42-tab-bar-tab-text);
}

.t42-tab-close-button-content:hover {
    background-color: var(--t42-tab-bar-tab-close-button-bg-hover);
    color: Hsl(var(--io-label-primary));

}

.t42-tab-close-button-content:hover .t42-standard-button-image {
    fill: var(--t42-tab-bar-tab-text-hover);
}

.t42-selected-tab-element {
    background-color: var(--t42-tab-bar-selected-tab-background);
}

.t42-selected-tab::before,
.t42-selected-tab+.t42-tab::before {
    opacity: 0;
}

.t42-selected-tab:hover::before {
    width: calc(100% - var(--t42-tab-bar-tab-separator-size));
    height: var(--t42-tab-bar-tab-selected-separator-size);
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: block;
    background-color: var(--t42-tab-bar-tab-selected-separator-color);
    content: "";
    z-index: 10;
}

.t42-selected-tab-caption {
    color: var(--t42-tab-bar-selected-tab-text);
    transition-property: width, flex-grow;
}

.t42-selected-tab-close-button-content .t42-standard-button-image {
    fill: var(--t42-tab-bar-selected-tab-text);
}

.t42-channel-selector-content-light::before {
    color: hsl(var(--io-white));
    transition-property: color;
}

.t42-channel-selector-content-dark::before {
    color: hsl(var(--io-black));
    transition-property: color;
}

@keyframes approaching-edge-animation {
    from {
        background-color: var(--t42-approaching-edge-start-color);
    }

    to {
        background-color: var(--t42-approaching-edge-end-color);
    }
}

.t42-approaching-edge {
    display: block;
    position: absolute;
    z-index: 100;
    background-color: var(--t42-approaching-edge-start-color);
    animation: approaching-edge-animation;
    animation-duration: var(--t42-approaching-edge-animation-duration);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.t42-horizontal-approaching-edge {
    height: var(--t42-approaching-edge-size);
}

.t42-vertical-approaching-edge {
    width: var(--t42-approaching-edge-size);
}

.t42-sizing-border-group {
    pointer-events: none; 
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 0;
    position: absolute;
    overflow: hidden;
    z-index: 100;
    background-color: var(--t42-sizing-border-group-color);
}

.t42-vertical-sizing-border-group {
    flex-direction: column;
    cursor: ew-resize;
}

.t42-horizontal-sizing-border-group {
    flex-direction: row;
    cursor: ns-resize;
}

.t42-sizing-border-group:hover {
    background-color: var(--t42-hover-sizing-border-group-color);
}

.t42-active-sizing-border-group {
    z-index: 200;
    background-color: var(--t42-active-sizing-border-group-color);
}

.t42-active-sizing-border-group:hover {
    background-color: var(--t42-active-sizing-border-group-color);
}

.t42-sizing-border {
    pointer-events: auto;
    margin: 0px;
    padding: 0px;
    flex-shrink: 0;
}

.t42-frame-sizing-border {
    flex-grow: 0;
}

.t42-cross-sizing-border {
    flex-grow: 1;
    cursor: ne-resize;
}

.t42-active-sizing-border {
    background-color: transparent;
}

.t42-skip-focus {
    /* We used non-standard rule to have non-empty style */
    -moz-user-focus: ignore;
}

@keyframes clipMe {
    0%,
    100% {
        clip: rect(0, 25vh, 2px, 0);
    }

    25% {
        clip: rect(0, 2px, 25vh, 0);
    }

    50% {
        clip: rect(calc(25vh - 2px), 25vh, 25vh, 0);
    }

    75% {
        clip: rect(0, 25vh, 25vh, calc(25vh - 2px));
    }
}

.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    background: var(--t42-background);

}

.loader-wrapper .loader {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #999d9e 94%, rgba(0, 0, 0, 0)) center top / 4px 4px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 15%, #999d9e);
    -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 4px), #000 0px);
}

.loader-wrapper .loader-text {
    margin: 0 auto;
    padding: 0 0.833rem;
    overflow: hidden;
    color: var(--io-secondary-primary);
    text-align: center;
    text-overflow: ellipsis;
}

.loader.active {
    animation: s3 1.5s infinite linear;
}

@keyframes s3 {
    to {
        transform: rotate(1turn);
    }
}

@keyframes flash {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: var(--t42-tab-bar-tab-flashing-background);
    }

    100% {
        background-color: transparent;
    }
}

.t42-tab-flashing {
    animation: flash 500ms linear infinite;
}

.t42-tab-flashing .t42-tab-bar-element,
.t42-tab-flashing .t42-tab-caption {
    background-color: transparent;
    color: var(--white);
}

@container (max-width: 50px) {
    .t42-tab-channel-selector {
        width: 0;
        margin: 0;
    }

}

@container (max-width: 40px) {
    .t42-tab-close-button {
        margin: auto;
    }
}

@container (max-width: 30px) {
    .t42-selected-tab-caption {
        flex-grow: 0;
        width: 0;
    }
}

.os-scrollbar-horizontal {
    z-index: 1001;
}

.t42-tabs-overflow .t42-tab {
    flex-shrink: 0;
}

.t42-tabs-overflow .t42-tabs {
    overflow: auto;
}

.t42-page-popup {
    position: absolute;
    z-index: 999;
    margin-top: var(--t42-wg-tab-over-top-offset);
}

.t42-tab-overflow-popup {
    display: flex;
    flex-direction: column;
    min-width: var(--t42-wg-tab-over-min-width);
    max-width: var(--t42-wg-tab-over-max-width);
    max-height: var(--t42-wg-tab-over-max-height);
    padding: var(--t42-wg-tab-over-padding);
    border-radius: var(--t42-wg-tab-over-border-radius);
    overflow: auto;
    background-color: var(--t42-wg-tab-over-background);
}

.t42-tab-overflow-popup li {
    display: flex;
    gap: var(--t42-wg-tab-over-item-gap);
    align-items: center;
    height: var(--t42-wg-tab-over-item-height);
    padding: var(--t42-wg-tab-over-item-padding);
}

.t42-tab-overflow-popup li span {
    flex-grow: 1;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: clip;
}

.t42-tab-overflow-popup li:not(.title):hover {
    color: var(--t42-wg-tab-over-item-color-hover);
    background-color: var(--t42-wg-tab-over-item-background-hover);
}

.t42-tab-overflow-popup hr {
    height: var(--t42-wg-tab-over-separator-size);
    margin: var(--t42-wg-tab-over-separator-space);
    border: 0;
    background-color: var(--t42-wg-tab-over-separator-color);
}

.t42-tab-overflow-popup .title {
    color: var(--t42-wg-tab-over-item-title-color);
    font-size: var(--t42-wg-tab-over-item-title-size);
    letter-spacing: var(--t42-wg-tab-over-item-title-spacing);
}
